@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    z-index: 110;
    height: 5rem;
  }

  .navbar-logo {
    z-index: 110;
  }

  .Center-Text {
    justify-content: center;
    align-items: center;
    top: 16.5rem;
    padding: 10px;
  }

  .Hero {
    height: auto;
    width: auto;
  }

  .Center_Text-h1 {
    font-size: 3rem;
  }

  .nav-a {
    z-index: 90;
    align-items: center;
    height: 3rem;
  }

  .nav-a img {
    width: 134px;
    height: 30px;
    margin-left: 16px;
  }

  .nav_logo {
    z-index: 110;
  }

  .Cards {
    height: 8rem;
  }
}
