@import "tailwindcss";




/* Initial state, positioned off-screen */

.slide-out {
    transform: translateX(100%);
    opacity: 0;
  }
  
  /* When the menu is open */
  .slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  
  /* Smooth transition */
  .transition-transform {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .ham-burger {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
 



/* Merch */


@media (min-width: 320px) and (max-width: 480px) {

  .polo img{
    /* height: 150%; */
    width: 70%;
  }
  .round_neck img{
    /* height: 150%; */
    width: 70%;
  }


  #speakers{
    padding-top: 5rem;
  }
  #tickets{
    padding-top: 5rem;
  }
  #partners{
    padding-top: 5rem;
  }
}